global:
  scrape_interval:     15s
  evaluation_interval: 15s
#   external_labels:
#     monitor: 'codelab-monitor'

rule_files:
# #   - /etc/prometheus/alert.rules

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
      - targets:
# #         - alertmanager:9093

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets:
        - homelab-node-exporter:9100
        - homelab-cadvisor:8080
        - homelab-nginx-exporter:9113
  - job_name: 'gitlab'
    static_configs:
      - targets:
        - homelab-gitlab:9090
