[submodule "llm-stack"]
	path = llm-stack
	url = git@github.com:k5-mot/homelab-llm-stack.git
	branch = main
[submodule "ops-stack"]
	path = ops-stack
	url = git@github.com:k5-mot/homelab-ops-stack.git
	branch = main
